<div class="site-nav-bar">
  <ul class="site-nav-list">
    <!-- Links to internal pages -->
    <li class="nav-internal">
      <a href="{{ site.url }}/">
        <span class="nav-icon">&#8962;</span>
        <p>Home</p>
      </a>
    </li>
    <li class="nav-internal">
      <a href="{{ site.url }}/blog/">
        <span class="nav-icon">&#10001;</span>
        <p>Blog</p>
      </a>
    </li>
    <li class="nav-internal">
      <a href="{{ site.url }}/code/">
        <span class="nav-icon">&#9874;</span>
        <p>Projects</p>
      </a>
    </li>
    <li class="nav-internal" id="last-nav-internal">
      <a href="{{ site.url }}/resume/">
        <span class="nav-icon">?</span>
        <p>About</p>
      </a>
    </li>
    <!-- Links to external pages -->
    <li>
      <a href="https://github.com/JakeGreene">
        <span class="ext-nav-icon"><img src="{{ site.url }}/images/nav/github.png" alt="GitHub"/></span>
        <p>GitHub</p>
      </a>
    </li>
    <li>
      <a href="http://stackoverflow.com/users/382110/jake-greene">
        <span class="ext-nav-icon"><img src="{{ site.url }}/images/nav/stack.png" alt="Stack"/></span>
        <p>Stack</p>
      </a>
    </li>
    <li>
      <a href="http://ca.linkedin.com/pub/jake-greene/33/769/145">
        <span class="ext-nav-icon"><img src="{{ site.url }}/images/nav/linkedin.png" alt="Linked in"/></span>
        <p>Linked in</p>
      </a>
    </li>
  </ul>
</div>
