---
title: Jake Greene
name: Jake Greene
site: http://www.jakegreene.ca
---
<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="{{site.url}}/stylesheets/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{site.url}}/stylesheets/pygment_trac.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>

  <title> {{ page.title }} </title>
  <meta name="description" content="My personal website">

  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title"> {{page.title}} </h1>
    </header>
    <div id="container">
      <p class="tagline">My personal website</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <ul class="navbar">
            <li class="home"><a href="{{site.url}}">Home</a></li>
            <li class="blog"><a href="{{site.url}}/blog">Blog</a></li>
            <li class="code"><a href="{{site.url}}/code">Code</a></li>
            <li class="resume"><a href="{{site.url}}/resume">Resume</a></li>
            <li class="github"><a href="https://github.com/JakeGreene">GitHub</a></li>
            <li class="stack"><a href="http://stackoverflow.com/users/382110/jake-greene">Stack Overflow</a></li>
          </ul>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div> <!-- Container -->


    <footer>
      <div class="owner">

      <p><a href="https://github.com/JakeGreene" class="avatar"><img src="https://2.gravatar.com/avatar/666bfd36681692e0652df89332397653?d=https%3A%2F%2Fidenticons.github.com%2F80803c14fdd23180cac2e98bd23f2e09.png&amp;s=30" width="48" height="48"/></a>View <a href="https://github.com/JakeGreene">JakeGreene</a> on <a href="https://www.github.com">GitHub</a></p>

      </div>
      <div class="creds">
        <small>Theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
    </footer>
  </div> <!-- Wrapper -->
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/JakeGreene/JakeGreene.github.io/tarball/master" class="tar">tar</a><a href="https://github.com/JakeGreene/JakeGreene.github.io/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>
  
</body>
</html>
